---
export const prerender = true;
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Breadcrumbs } from 'astro-breadcrumbs';
import { Image } from 'astro:assets';
import IpotekaPayment from '../components/IpotekaPayment.astro'
const { url, title, city, titleForLayots, description, pubDate, updatedDate, heroImage, aboutSectionData, layoutsSectionData, galleryImages, mapStatic, kvartal2N1, kvartal3N1, kvartal5N1, kvartalParkovka} = Astro.props;
// const posts = await Astro.glob('../content/catalog/*.mdx')
import "../../astro-breadcrumbs-config.scss";

import "@fancyapps/ui/dist/fancybox/fancybox.css";

const customCrumbs = [
 {
    text: "Главная",
    href: "/",
  },
  {
    text: "Каталог",
    href: "/catalog/",
  },
  {
    text: title,
    href: `${Astro.url.pathname}`,
  },
]

import { getSanity } from '../lib/api'
import { urlForImage } from '../lib/urlForImage'
const sanityLayouts = await getSanity([`*[_type == '${url}'] | order(orderRank asc)`])

// console.log(sanityLayouts.forEach(item => console.log(item._rev)));



---

<html lang="ru">
	<head>
		<BaseHead title={title + ' ' + city + ' | Цены и планировки | Купить квартиру'} description={description} websiteType="article"/>
		
	</head>
	
	<body>
		<div class="wrapper">
			<Header />
			
			<main itemtype="https://schema.org/Product" itemscope>
				<link itemprop="mainEntityOfPage" href={Astro.url.pathname}>
				<meta itemprop="name" content={title}>
				<article>
					<section class="section__hero" aria-label={title}>


						<div itemtype="http://schema.org/ImageObject" itemscope class="image__wrapper">{heroImage && <Image loading="eager" itemprop="contentUrl" src={heroImage} alt={title} />}</div>
						<h1>{title}</h1>

						<div class="c-breadcrumbs"><Breadcrumbs crumbs={customCrumbs}>
							<svg
							slot="separator"
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
								><polyline points="9 18 15 12 9 6"></polyline>
					  		</svg>
								</Breadcrumbs>
						</div>
					</section>
					
					<section aria-labelledby="about__title" class="section__about">
						<div class="container">
							<h2 id="about__title">О проекте</h2>

							<ul class="about__wrapper">
								{aboutSectionData?.map((item: any) => (
									<li>
										<div class="about__texts">
											<h3>{item.title}</h3>
											<p>{item.text}</p>
										</div>
										{item.image && <img src={item.image} alt={item.title}/>}
										{item.video && <video autoplay muted loop src={item.video}></video>}
									</li>
									))}
							</ul>
						</div>
					</section>
			
					
					
					{sanityLayouts?.length > 0 && (
						<section aria-labelledby="layouts__title" class="section__layouts">
						<div class="container">
							<h2 id="layouts__title">Планировки</h2>

							<section class="section__filter">
									<form class="filter__wrapper">
										<select name="filter" id="filter" class="filter__select">
											<option value="">Все планировки</option>
											<option value="студия">Студии</option>
											<option value="1-комнатная">1-комнатные</option>
											<option value="2-комнатная">2-комнатные</option>
											<option value="3-комнатная">3-комнатные</option>
											<option value="4-комнатная">4-комнатные</option>
										</select>
									</form>
							</section>
							<div class={`no-match ${sanityLayouts.length === 0 ? 'zero-length' : ''}`}>{sanityLayouts.length === 0 ? 'Нет планировок' : 'Кажется, ничего не найдено'}</div>
							<ul class="masonry__grid">
								{sanityLayouts?.map((item: any) => (
									<li class="masonry-item">
										<div class="prewrapper" itemscope itemtype="https://schema.org/ImageObject"><a class="prewrapper__link"  data-src={urlForImage(item.photo).url()} data-caption={item.rooms} data-fancybox="layouts"><img loading="lazy" itemprop="contentUrl" src={urlForImage(item.photo).url()}  alt={item.rooms}></a></div>
										<div class="layouts__texts">
											<p class="rooms">{item.rooms}</p>
											<p class="price">от {item.price} руб.</p>
											<button class="apartment__booking">Забронировать</button>
										</div>
									</li>
								))}
							</ul>
							<button id="show-more-btn">Показать больше</button>
						</div>
					</section>
					)}

					<div class="booking__bg"></div>

					<div class="booking__modal">
						<button aria-label="Закрыть форму" class="booking-close-form" data-astro-cid-3ef6ksr2=""> <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 320.591 320.591" style="enable-background:new 0 0 512 512" xml:space="preserve" data-astro-cid-3ef6ksr2=""><g data-astro-cid-3ef6ksr2=""><path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" fill="#000000" opacity="1" data-original="#000000" data-astro-cid-3ef6ksr2=""></path><path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" data-astro-cid-3ef6ksr2=""></path></g></svg> </button>
						<p class="booking__title">Получите информацию о данной квартире в {titleForLayots}</p>
						<p class="booking__text">Расскажем о способах приобретения, об акциях и скидках</p>

						<form id="apartmentInfo" data-objectName={title}>
							<div class="input__wrapper">
								<label for="">
									
									<input type="text" required  placeholder="Ваше имя" name="name" id="apartmentName">
								</label>
								<label for="">
									
									<input type="tel" required  class="phoneMask" placeholder="Ваш телефон" name="phone" id="apartmentPhone"/>
								</label>
							</div>
							<button type="submit" class="consultancyGetting">Получить консультацию</button>
							<p class="agreement">«Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности»</p>
							<div class="form-sent-message consultancy-message">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><switch><g><g fill="#02bc7d"><path d="M9.7 11.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l3 3c.2.2.4.3.7.3s.5-.1.7-.3l7-8c.3-.5.3-1.1-.2-1.4-.4-.3-1-.3-1.3.1L12 13.5z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path><path d="M21 11c-.6 0-1 .4-1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8c0-2.1.8-4.1 2.3-5.6C7.8 4.8 9.8 4 12 4c.6 0 1.3.1 1.9.2.5.2 1.1-.1 1.3-.7s-.2-1-.7-1.2h-.1c-.8-.2-1.6-.3-2.4-.3C6.5 2 2 6.5 2 12.1c0 2.6 1.1 5.2 2.9 7 1.9 1.9 4.4 2.9 7 2.9 5.5 0 10-4.5 10-10 .1-.6-.4-1-.9-1z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path></g></g></switch></g></svg>										
								<p>Форма успешно отправлена</p>
							</div>
						</form>
					</div>

					{kvartal2N1?.length && (
					<section aria-labelledby="gallery__title" class="kvartal2N1 kvartals">
						<div class="container">
							<h2 id="kvartal2N1">Квартал 2.1</h2>

							<ul>
								{kvartal2N1?.map((item: any) => (
									<li>
										<a data-src={item} data-fancybox="kvartal2N1" itemscope itemtype="https://schema.org/ImageObject">
											<img loading="lazy" itemprop="contentUrl" tabindex="0" src={item} alt="Фото галлерии" />
										</a>
									</li>
								))}
							</ul>
						</div>
					</section>
					)}
					{kvartal3N1?.length && (
					<section aria-labelledby="gallery__title" class="kvartal3N1 kvartals">
						<div class="container">
							<h2 id="kvartal3N1">Квартал 3.1</h2>

							<ul>
								{kvartal3N1?.map((item: any) => (
									<li>
										<a data-src={item} data-fancybox="kvartal3N1" itemscope itemtype="https://schema.org/ImageObject">
											<img loading="lazy" itemprop="contentUrl" tabindex="0" src={item} alt="Фото галлерии" />
										</a>
									</li>
								))}
							</ul>
						</div>
					</section>
					)}
					{kvartal5N1?.length && (
					<section aria-labelledby="gallery__title" class="kvartal5N1 kvartals">
						<div class="container">
							<h2 id="kvartal3N1">Квартал 5.1</h2>

							<ul>
								{kvartal5N1?.map((item: any) => (
									<li>
										<a data-src={item} data-fancybox="kvartal5N1" itemscope itemtype="https://schema.org/ImageObject">
											<img loading="lazy" itemprop="contentUrl" tabindex="0" src={item} alt="Фото галлерии" />
										</a>
									</li>
								))}
							</ul>
						</div>
					</section>
					)}
					{kvartalParkovka?.length && (
					<section aria-labelledby="gallery__title" class="kvartalParkovka kvartals">
						<div class="container">
							<h2 id="kvartal3N1">Здание парковки</h2>

							<ul>
								{kvartalParkovka?.map((item: any) => (
									<li>
										<a data-src={item} data-fancybox="kvartalParkovka" itemscope itemtype="https://schema.org/ImageObject">
											<img loading="lazy" itemprop="contentUrl" tabindex="0" src={item} alt="Фото галлерии" />
										</a>
									</li>
								))}
							</ul>
						</div>
					</section>
					)}

					<section aria-labelledby="gallery__title" class="section__gallery">
						<div class="container">
							<h2 id="gallery__title">Галерея</h2>

							<ul>
								{galleryImages?.map((item: any) => (
									<li>
										<a data-src={item} data-fancybox="gallery" itemscope itemtype="https://schema.org/ImageObject">
											<img loading="lazy" itemprop="contentUrl" tabindex="0" src={item} alt="Фото галлерии" />
										</a>
									</li>
								))}
							</ul>
						</div>
					</section>
						<div class="maps__wrapper">
							<div>
								<h2>Расположение комплекса</h2>
							</div>
    						
								<div class="mapStatic__wrapper">
									<a href={mapStatic.mapLink} target="_blank"><img src={mapStatic.mapPath} alt="" style="border: 0;" /></a>
								</div>
							
						</div>
					


					<IpotekaPayment title={title}/>
					<section aria-labelledby="indCons__title" class="section__form">
						<div class="container">
							<div class="form__wrapper">
								<h2 id="indCons__title">Получить консультацию</h2>

								<form class="indCons__form" data-gu={title}>
									<label class="visually-hidden" for="indConsName">Ваше имя</label>
									<input required name="name"type="text" id="indConsName" placeholder="Ваше имя"/>
									<label class="visually-hidden" for="indConsPhone">Ваш телефон</label>
									<input required name="phone" type="tel" class="phoneMask" id="indConsPhone" placeholder="Ваш телефон"/>
									<button>Записаться</button>
								</form>
								<p>«Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности»</p>
								<div class="form-sent-message indCons-message">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><switch><g><g fill="#02bc7d"><path d="M9.7 11.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l3 3c.2.2.4.3.7.3s.5-.1.7-.3l7-8c.3-.5.3-1.1-.2-1.4-.4-.3-1-.3-1.3.1L12 13.5z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path><path d="M21 11c-.6 0-1 .4-1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8c0-2.1.8-4.1 2.3-5.6C7.8 4.8 9.8 4 12 4c.6 0 1.3.1 1.9.2.5.2 1.1-.1 1.3-.7s-.2-1-.7-1.2h-.1c-.8-.2-1.6-.3-2.4-.3C6.5 2 2 6.5 2 12.1c0 2.6 1.1 5.2 2.9 7 1.9 1.9 4.4 2.9 7 2.9 5.5 0 10-4.5 10-10 .1-.6-.4-1-.9-1z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path></g></g></switch></g></svg>										
									<p>Форма успешно отправлена</p>
								</div>
							</div>
						</div>
					</section>

				</article>
			</main>

			<div itemprop="author" itemtype="http://schema.org/Person" itemscope=""><meta itemprop="name" content="Монолид" itemscope=""></div>
			<Footer />
		</div>
	</body>
</html>


<style lang="scss">
	#show-more-btn {
		display: flex;
		margin: 75px auto 0;
		font-weight: 500;
		font-size: 18px;
		padding: 7px 23px;
		background-color: var(--btn-primary);
		border-radius: 4px;
		color: var(--primary);
		line-height: 160%;
		transition: 0.3s ease background;
		
		&:hover {
			background: #0b1099;
		}
	}
	.no-match {
		margin-top: 45px;
		font-weight: 700;
		text-align: center;
		font-size: var(--header-clamp);
		display: none;
	}

	.filter__wrapper select {
		padding: clamp(0.813rem, 0.637rem + 0.59vw, 1rem);
		border: 1px solid #d3dad7;
		font-weight: 400;
		font-size: 16px;
		text-transform: capitalize;
		min-height: 52px;
		color: var(--headers-primary);
		border-radius: 5px;
		background-color: var(--primary);
		color: var(--headers-primary);
		height: 52px;
		margin-top: 30px;
	}

	.booking__bg {
		position: fixed;
		width: 100%;
		height: 100dvh;
		background-color: #0b0b0b;
		opacity: 0.8;
		inset: 0;
		z-index: 14;
		display: none;

		&.active {
			display: block;
		}
	}
	.booking__modal {
		display: none;
		position: fixed;
		max-width: 600px;
		width: 90%;
		inset: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		justify-content: center;
		z-index: 60;
		background-color: var(--primary);
		color: var(--headers-primary);
		padding: 30px;
		height: max-content;
		flex-direction: column;
		overflow-y: auto;

	

		@media(max-width: 330px) {
			height: 90%;
			padding: 40px 10px;

			
		}

		&.active {
			display: flex;
		}

		.booking-close-form {
			display: none;
			display: flex;
			position: absolute;
			right: 10px;
			top: 10px;

			svg {
				width: 20px;
				height: 20px;
				fill: var(--headers-primary);
			}
		}

		.booking__title {
			font-weight: 500;
			font-size: 1.5rem;
			text-align: center;
			text-wrap: balance;
			@media(max-width: 992px) {
				font-size: 22px;
			}
		}

		.booking__text {
			margin: 20px 0;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			color: #0d0d0d;
			text-align: center;
		}

		.input__wrapper {
			display: flex;
			flex-direction: column;
			gap: 15px;
			width: 100%;

			label {
				display: flex;
				flex-direction: column;
				gap: 5px;
				input {
					padding: 13px;
					border-radius: 5px;
					border: 0;
					font-weight: 400;
					color: var(--headers-primary);
					font-size: 18px;
					border: 1px solid #d3dad7;
					width: 100%;
				}
			}
		}

		.consultancyGetting {
			color: var(--primary);
			padding: 7px 21px;
			background: var(--btn-primary);
			border-radius: 20px;
			display: flex;
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			line-height: 160%;
			transition: 0.3s ease background;
			width: 100%;
			font-weight: 400;
			&:hover {
				background: #0b1099;
			}
		}

		.agreement {
			font-size: 12px;
    		margin-top: 10px;
			text-align: center;
		}
	}


	.c-breadcrumbs {
		position: absolute;
		top: 15px;
		left: 15px;
		padding: 10px;
		background-color: #00000077;
		color: var(--primary);
	

		@media(max-width: 450px) {
			top: 0;
			left: 0;
			width: 100%;

		}
	}
	
	.section__hero {
		position: relative;
		.image__wrapper {
			overflow: hidden;
			&:after {
				content: '';
				background-color: black;
				position: absolute;
				inset: 0;
				z-index: 0;
				opacity: .15;
			}
		}
		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: 500;
			font-size: clamp(1.625rem, 0.542rem + 3.61vw, 3.25rem);
			text-align: center;
			color: var(--primary);
			background-color: rgba(56, 60, 62, 0.719);
			padding: 5px;
			backdrop-filter: blur(4px);
			text-wrap: balance;
		}
		
		img {
			width: 100%;
			height: 120vh;
			min-height: 400px;
			object-fit: cover;
			visibility: hidden;
			// position: absolute;
			// inset: 0;
			@media(max-width:767px) {
				height: 40vh;
				min-height: none;
				object-fit: cover;
			}
			// @media(max-width:550px) {
			// 	height: 25vh;
				
				
			// }

			// @media(max-height: 800px) {
			// 	height: 80vh;
			// }
			
		}
	}

	.section__about {
		padding: var(--section-padding) 0;
		background-color: var(--secondary);
		color: var(--primary);
		h2 {
			font-weight: 700;
			text-align: center;
			font-size: var(--header-clamp);
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 100px;
			margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);

			@media(max-width: 1167px) {
				gap: 50px;
			}


			li {
				display: flex;
				justify-content: space-between;
				gap: clamp(3.125rem, -1.328rem + 14.84vw, 7.875rem);

				@media(max-width: 1167px) {
					flex-wrap: wrap;
					justify-content: center;
					text-align: center;
					gap: 25px;
				}

				&:nth-child(even) {
					flex-direction: row-reverse;

					img, video {
						mask-image: url(/public/mask-image.svg);
						
						@media(max-width: 1200px) {
							mask-image: none;
						}
					}

					
				}
				
				&:nth-child(odd) {
					img, video {
						mask-image: url(/public/mask-image-alternative.svg);
						
						@media(max-width: 1200px) {
							mask-image: none;
						}
					}

				}
				h3 {
					font-weight: 500;
					font-size: 22px;

					@media(max-width: 767px) {
						font-size: 20px;
        			}
					
				}
				p {
					margin-top: 25px;
					font-size: 18px;
					line-height: 1.6;
					text-wrap: balance;
					max-width: 624px;
				}
				img, video {
					max-width: 550px;
					width: 100%;
					object-fit: cover;
					mask-repeat: no-repeat;
					max-height: 325px;
					@media(max-width: 650px) {
						height: auto;
					}
				}
			}
		}
	}

	.section__layouts {
		padding: var(--section-padding) 0;
		color: var(--headers-primary);
		h2 {
			font-weight: 700;
			text-align: center;
			font-size: var(--header-clamp)
		}
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 24px;
			
			
			@media(max-width: 992px) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media(max-width: 767px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media(max-width: 500px) {
				grid-template-columns: repeat(1, 1fr);
			}
			
		}
		.masonry__grid {
			margin: 0 auto;
			margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);
		}
		// .grid-sizer,
		// .masonry-item { 
		// 	width: 23%; 
		// 	margin-bottom: 20px;
			
		// 	@media(max-width: 992px) {
		// 		width: 30%; 
		// 		margin-bottom: 24px;
        // 	}
		// 	@media(max-width: 650px) {
		// 		width: 47%; 
		// 		margin-bottom: 24px;
        // 	}
		// 	@media(max-width: 480px) {
		// 		width: 100%; 
		// 		margin-bottom: 24px;
        // 	}

		//  }

		li {
			display: none;
			flex-direction: column;
			align-items: center;
			background-color: var(--primary);
			transition: .3s ease transform;
			align-self: stretch;
			&:hover {
				transform: translateY(-5px);
			}

			.prewrapper {
				margin: auto 0;
				padding: 10px 10px 0;

				@media(max-width: 550px) {
				}

				.prewrapper__link {
					display: flex;
					justify-content: center;
				}
			}

			// align-self:self-start;
			img {
				width: 100%;
				height: auto;
				cursor: pointer;
				// object-fit: cover;
				max-height: 450px;

				@media(max-width: 767px) {
					width: 85%;
				}
				@media(max-width: 550px) {
					width: 75%;
				}
				@media(max-width: 430px) {
					width: 60%;
				}

				

			}
			.layouts__texts {
				padding: 15px 10px;
				background-color: var(--primary);
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				box-shadow: 0px 8px 8px 0px rgba(34,60,80,0.2);

				.rooms {
					font-size: 20px;
				}

				.price {
					margin-top: 10px;
					font-size: clamp(1.125rem, 0.875rem + 0.83vw, 1.5rem);
					color: #011032;
					font-weight: 600;
				}
			}
			p {
				font-size: 18px;
				font-weight: 500;
			}
			button {
				font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 20px;
                color: var(--primary);
                margin-top: 20px;
                line-height: 160%;
                @media(max-width: 600px) {
                    width: 100%;
                    text-align: center;
                }

				transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
			}
		}

	}

	.section__gallery {
		padding: var(--section-padding) 0;
		background-color: var(--secondary);
		color: var(--primary);

		h2 {
			font-weight: 700;
			text-align: center;
			font-size: var(--header-clamp);
		}
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);
			gap: 24px;

			@media(max-width: 767px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 18px;
			}
			
			@media(max-width: 480px) {
				// grid-template-columns: repeat(1, 1fr);
				gap: 10px;
			}
			li {
				overflow: hidden;

			}
			div {
				height: 100%;

			}
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				max-height: 223px;
				cursor: pointer;
				transition: .3s ease all;
				&:hover {
					scale: 1.07;
				}
			}
		}
	}

	.section__form {
		padding: clamp(6.25rem, 1.792rem + 14.86vw, 12.938rem) 0;
		background: url('/public/form__background.webp') no-repeat center;
		background-size: cover;
		.form__wrapper {
			position: relative;
			background-color: var(--primary);
			padding: 33px;
			max-width: 590px;
			margin: 0 auto;
			
			@media(max-width: 767px) {
				padding: 20px;
			}
		}
		h2 {
			font-weight: 500;
			font-size: var(--header-clamp);
			text-align: center;
		}
		form {
			display: flex;
			flex-direction: column;
			max-width:450px;
			width: 100%;
			margin: 0 auto;
			gap: 13px;
			margin-top: 25px;

			input {
				padding: clamp(0.813rem, 0.637rem + 0.59vw, 1rem);
				border: 1px solid #d3dad7;
				font-weight: 400;
				font-size: 16px;
				text-transform: capitalize;
				border-radius: 5px;
				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					text-transform: capitalize;
				}
			}

			button {
				padding: 15px;
				max-width: 450px;
				width: 100%;
				background: var(--btn-primary);
				font-size: 18px;
				color: var(--primary);
				border-radius: 5px;
				transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
			}
		}

		p {
			font-size: 12px;
			text-align: center;
			color: var(--headers-primary);
			margin-top: 10px;
		}
	}
	
	.maps__wrapper {
		padding: var(--section-padding) 0 20px;
		h2 {
			font-weight: 700;
			font-size: var(--header-clamp);
			color: var(--headers-primary);
			text-align: center;
			margin-bottom: 40px;

			
		}

		.mapStatic__wrapper {
			display: flex;
			justify-content: center;
			max-width: 600px;
			margin: 0 auto;
			

			img {
				width: 100%;
			}
		}
	}

	.kvartals {
		padding: clamp(2.5rem, 0.449rem + 6.84vw, 4.688rem) 0 0;
		background-color: var(--secondary);
		color: var(--primary);

		h2 {
			font-weight: 500;
			text-align: center;
			font-size: var(--header-clamp);
		}
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-top: clamp(2.5rem, 0.449rem + 6.84vw, 4.688rem);
			gap: 24px;

			@media(max-width: 992px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 18px;
			}
			
			@media(max-width: 550px) {
				grid-template-columns: repeat(1, 1fr);
				gap: 10px;
			}
			li {
				overflow: hidden
			}
			div {
				height: 100%;

			}
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				max-height: 223px;
				cursor: pointer;
				transition: .3s ease all;
				&:hover {
					scale: 1.07;
				}
			}
		}
	}
</style>

<script>


	document.addEventListener("DOMContentLoaded", function() {
  var items = document.querySelectorAll(".masonry-item");
  var numItemsToShow = 8;

  // Show the first 8 items and hide the rest
	for (var i = 0; i < items.length; i++) {
    if (i < numItemsToShow) {
      items[i].style.display = "flex";
    } else {
      items[i].style.display = "none";
    }
  }

  // Check if there is more than 8 items and if there is show "Show More" button
  if (items.length > numItemsToShow) {
    document.getElementById("show-more-btn").style.display = "flex";
  } else {
    document.getElementById("show-more-btn").style.display = "none";
  }

  // Handle the "Show More" button click
  document.getElementById("show-more-btn").addEventListener("click", function() {

    var remainingItems = items.length - numItemsToShow;
    var itemsToShow = Math.min(remainingItems, numItemsToShow);
    
    // Show the next batch of items
    for (var i = 0; i < itemsToShow; i++) {
      items[numItemsToShow + i].style.display = "flex";
    }
    
    // Update the number of items shown
    numItemsToShow += itemsToShow;
    
    // Hide the "Show More" button if all items are shown
    if (numItemsToShow >= items.length) {
      document.getElementById("show-more-btn").style.display = "none";
    }
  });
});


	const filter = document.querySelector('#filter')
	const layouts = document.querySelectorAll('.masonry-item')
						
	function filterFn() {
		document.getElementById("show-more-btn").style.display = "none";
		let hasMatch = false
		layouts.forEach(layout => {
			const layoutRooms = layout.querySelector('.rooms').textContent

			if (layoutRooms.includes(filter.value)) {
				layout.style.display = 'flex'
				hasMatch = true
			} else {
				layout.style.display = 'none'
			}
		})

		if (!hasMatch) {
			document.querySelector('.no-match').style.display = 'block'
		} else {
			document.querySelector('.no-match').style.display = 'none'
		}
	}
	filter?.addEventListener('change', filterFn)
	

	import { gsap } from "gsap";

	gsap.from('.image__wrapper img', {
		scale: 1.2,
		autoAlpha: 0,
		duration: 2,
	})

	const apartmentBtn = document.querySelectorAll('.apartment__booking')	
	const apartmentBg = document.querySelector('.booking__bg') 
	const apartmentModal = document.querySelector('.booking__modal')
	const apartmentClose = document.querySelector('.booking-close-form')
	const body = document.querySelector('body')
	apartmentBtn.forEach((item) => {
		item.addEventListener('click', e => {
		apartmentBg?.classList.add('active')
		apartmentModal?.classList.add('active')
		body?.classList.add('locked')
		})
	})

	apartmentClose?.addEventListener('click', e => {
			apartmentBg?.classList.remove('active')
			apartmentModal?.classList.remove('active')
			body?.classList.remove('locked')
	})
	apartmentBg?.addEventListener('click', e => {
			apartmentBg?.classList.remove('active')
			apartmentModal?.classList.remove('active')
			body?.classList.remove('locked')
	})

	import { Fancybox } from "@fancyapps/ui";


	
	Fancybox.bind('[data-fancybox="gallery"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});
	Fancybox.bind('[data-fancybox="layouts"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});
	Fancybox.bind('[data-fancybox="kvartal2N1"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});
	Fancybox.bind('[data-fancybox="kvartal3N1"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});
	Fancybox.bind('[data-fancybox="kvartal5N1"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});
	Fancybox.bind('[data-fancybox="kvartalParkovka"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});
	
	

	window.addEventListener('click', e => {
		if (e.target.classList.contains('apartment__booking')) {
			const apartmentType = e.target.closest('.layouts__texts').querySelector('.rooms').textContent
			
			const apartmentForm = document.querySelector("#apartmentInfo");
			let apartmentFormPhone = document.querySelector('#apartmentPhone')
			let apartmentFormName = document.querySelector('#apartmentName')
			const apartmentComplexName = apartmentForm.dataset.objectname
			
			console.log(apartmentType);
			
			

			async function sendData() {
			// Associate the FormData object with the form element
			const formData = new FormData(apartmentForm);
			try {
				const response = await fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=${apartmentFormPhone.value}&name=${apartmentFormName.value}&object_name=${apartmentComplexName + ' ' + apartmentType}&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
				method: "POST",
				// Set the FormData instance as the request body
				body: formData,
				mode: 'no-cors',
				});
				console.log(await response.json());
			} catch (e) {
				console.error('2024');
			}
			}
			const consultancyMessage = document.querySelector('.consultancy-message')
			// Take over form submission
			apartmentForm.addEventListener("submit", (event) => {
			event.preventDefault();
			sendData();
			consultancyMessage.classList.add('active')
			setTimeout(() => {
				consultancyMessage.classList.remove('active')
			}, 5000);
			apartmentFormName.value = ''
			apartmentFormPhone.value = ''
	});
		}
	})

	
	const indConsForm: any = document.querySelector(".indCons__form");
	const indConsFormGu = indConsForm.dataset.gu;
	const indConsPhone = document.querySelector('#indConsPhone')
	const indConsName = document.querySelector('#indConsName')
	async function sendData() {
	// Associate the FormData object with the form element
	const formData = new FormData(indConsForm);

	

	try {
		const response = await fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=9999999999&name=name&message=Получить консультацию&object_name=${indConsFormGu}&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
		method: "POST",
		// Set the FormData instance as the request body
		body: formData,
		mode: 'no-cors',
		});
		await response.json()
	} catch (e) {
		console.error('2024');
	}
	}
	const indConsMessage = document.querySelector('.indCons-message')


	// Take over form submission
	indConsForm.addEventListener("submit", (event) => {
	event.preventDefault();
	sendData();
	indConsMessage.classList.add('active')
	setTimeout(() => {
		indConsMessage.classList.remove('active')
	}, 5000);
	indConsPhone.value = ''
	indConsName.value = ''
	});

		

</script>