---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Breadcrumbs } from 'astro-breadcrumbs';
import { Image } from 'astro:assets';
import ApartmentSearching from '../components/ApartmentsSearching.astro'
import IpotekaPayment from '../components/IpotekaPayment.astro'
const { title, description, pubDate, updatedDate, heroImage, aboutSectionData, layoutsSectionData, galleryImages, mapLocation} = Astro.props;
const posts = await Astro.glob('../content/catalog/*.mdx')
import "../../astro-breadcrumbs-config.scss";

import "@fancyapps/ui/dist/fancybox/fancybox.css";



const customCrumbs = [
 {
    text: "Главная",
    href: "/",
  },
  {
    text: "Каталог",
    href: "/catalog",
  },
  {
    text: title,
    href: `${Astro.url.pathname}`,
    "data-custom": "custom data attribute",
  },
]
---

<html lang="ru">
	<head>
		<BaseHead title={title} description={description} websiteType="article"/>
		
	</head>

	<body>
		<div class="wrapper">
			<Header />
			
			<main itemtype="https://schema.org/Product" itemscope>
				<link itemprop="mainEntityOfPage" href={Astro.url.pathname}>
				<meta itemprop="name" content={title}>
				<article>
					<section class="section__hero" aria-label={title}>


						<div itemtype="http://schema.org/ImageObject" itemscope class="image__wrapper">{heroImage && <Image itemprop="contentUrl" src={heroImage} alt={title} />}</div>
						<h1>{title}</h1>

						<div class="c-breadcrumbs"><Breadcrumbs crumbs={customCrumbs}>
							<svg
							slot="separator"
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
								><polyline points="9 18 15 12 9 6"></polyline>
					  		</svg>
								</Breadcrumbs>
						</div>
					</section>
					
					<section aria-labelledby="about__title" class="section__about">
						<div class="container">
							<h2 id="about__title">О проекте</h2>

							<ul class="about__wrapper">
								{aboutSectionData?.map((item: any) => (
									<li>
										<div class="about__texts">
											<h3>{item.title}</h3>
											<p>{item.text}</p>
										</div>
										<img src={item.image}/>
									</li>
									))}
							</ul>
						</div>
					</section>
					
					<section aria-labelledby="layouts__title" class="section__layouts">
						<div class="container">
							<h2 id="layouts__title">Планировки</h2>

							<ul>
								{layoutsSectionData?.map((item: any) => (
									<li>
										<div itemscope itemtype="https://schema.org/ImageObject"><img itemprop="contentUrl" src={item.image} alt={item.title}></div>
										<div class="layouts__texts">
											<p>{item.title}</p>
											<button class="apartment__booking">Забронировать</button>
										</div>
									</li>
								))}
							</ul>
						</div>
					</section>

					<div class="booking__bg"></div>

					<div class="booking__modal">
						<button aria-label="Закрыть форму" class="booking-close-form" data-astro-cid-3ef6ksr2=""> <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 320.591 320.591" style="enable-background:new 0 0 512 512" xml:space="preserve" data-astro-cid-3ef6ksr2=""><g data-astro-cid-3ef6ksr2=""><path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" fill="#000000" opacity="1" data-original="#000000" data-astro-cid-3ef6ksr2=""></path><path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" data-astro-cid-3ef6ksr2=""></path></g></svg> </button>
						<p class="booking__title">Получите информацию о квартире в {title}</p>
						<p class="booking__text">Расскажем о способах приобретения, об акциях и скидках</p>

						<form action="">
							<div class="input__wrapper">
								<label for="">
									Имя
									<input placeholder="Ваше имя"/>
								</label>
								<label for="">
									Телефон
									<input class="phoneMask" placeholder="Ваш телефон"/>
								</label>
							</div>
							<button class="consultancyGetting">Получить консультацию</button>
							<p class="agreement">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</p>
						</form>
					</div>

						<div class="maps__wrapper">
							<div>
								<h2>Расположение комплекса</h2>
							</div>
    						<iframe src={mapLocation} width="100%" height="500" frameborder="0"></iframe>
						</div>
					

					<section aria-labelledby="gallery__title" class="section__gallery">
						<div class="container">
							<h2 id="gallery__title">Галерея</h2>

							<ul>
								{galleryImages?.map((item: any) => (
									<li>
										<a data-src={item} data-fancybox="gallery" itemscope itemtype="https://schema.org/ImageObject">
											<img itemprop="contentUrl" tabindex="0" src={item} alt="Фото галлерии" />
										</a>
									</li>
								))}
							</ul>
						</div>

						
					</section>

					<ApartmentSearching />

					<IpotekaPayment />
					<section aria-labelledby="indCons__title" class="section__form">
						<div class="container">
							<div class="form__wrapper">
								<h2 id="indCons__title">Получить консультацию</h2>

								<form>
									<label class="visually-hidden" for="formName">Ваше имя</label>
									<input type="text" id="formName" placeholder="Ваше имя"/>
									<label class="visually-hidden" for="formPhone">Ваш телефон</label>
									<input type="tel" class="phoneMask" id="formPhone" placeholder="Ваш телефон"/>
									<button>Записаться</button>
								</form>
								<p>«Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности»</p>
							</div>
						</div>
					</section>

				</article>
			</main>

			<div itemprop="author" itemtype="http://schema.org/Person" itemscope=""><meta itemprop="name" content="Монолид" itemscope=""></div>
			<Footer />
		</div>
	</body>
</html>


<style lang="scss">
	.booking__bg {
		position: fixed;
		width: 100%;
		height: 100dvh;
		background-color: #0b0b0b;
		opacity: 0.8;
		inset: 0;
		z-index: 14;
		display: none;

		&.active {
			display: block;
		}
	}
	.booking__modal {
		display: none;
		position: fixed;
		max-width: 600px;
		width: 90%;
		inset: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		justify-content: center;
		z-index: 60;
		background-color: var(--primary);
		color: var(--headers-primary);
		padding: 30px;
		height: max-content;
		flex-direction: column;
		overflow-y: auto;

		@media(max-width: 330px) {
			height: 90%;
			padding: 40px 10px;

			
		}

		&.active {
			display: flex;
		}

		.booking-close-form {
			display: none;
			display: flex;
			position: absolute;
			right: 10px;
			top: 10px;

			svg {
				width: 20px;
				height: 20px;
				fill: var(--headers-primary);
			}
		}

		.booking__title {
			font-weight: 400;
			font-size: 1.5rem;
			text-align: center;
			@media(max-width: 992px) {
				font-size: 22px;
			}
		}

		.booking__text {
			margin: 25px 0;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			color: #0d0d0d;
		}

		.input__wrapper {
			display: flex;
			flex-direction: column;
			gap: 15px;
			width: 100%;

			label {
				display: flex;
				flex-direction: column;
				gap: 5px;

				input {
					padding: 13px;
					border-radius: 5px;
					outline: none;
					border: 0;
					font-weight: 400;
					color: var(--headers-primary);
					font-size: 18px;
					border: 1px solid #d3dad7;
					width: 100%;
				}
			}
		}

		.consultancyGetting {
			color: var(--primary);
			padding: 7px 21px;
			background: var(--btn-primary);
			border-radius: 20px;
			display: flex;
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			line-height: 160%;
			transition: 0.3s ease background;
			width: 100%;
			
			&:hover {
				background: #0b1099;
			}
		}

		.agreement {
			font-size: 14px;
    		margin-top: 10px;
		}
	}

	.c-breadcrumbs__crumb {
		
	}

	.c-breadcrumbs {
		position: absolute;
		top: 15px;
		left: 15px;
		padding: 10px;
		background-color: #00000077;
		color: var(--primary);
	

		@media(max-width: 450px) {
			left: 0;
			width: 100%;

		}
	}
	
	.section__hero {
		position: relative;
		.image__wrapper {
			&:after {
				content: '';
				background-color: black;
				position: absolute;
				inset: 0;
				z-index: 0;
				opacity: .5;
			}
		}
		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: 500;
			font-size: clamp(1.625rem, 0.542rem + 3.61vw, 3.25rem);
			text-align: center;
			color: var(--primary);
			background-color: rgba(56, 60, 62, 0.719);
			padding: 5px;
			backdrop-filter: blur(4px);
		}
		
		img {
			width: 100%;
			height: 70vh;
			min-height: 400px;
			// position: absolute;
			// inset: 0;
			@media(max-width:992px) {
				height: 40vh;
				min-height: none;
			}
			// @media(max-width:550px) {
			// 	height: 25vh;
				
				
			// }

			// @media(max-height: 800px) {
			// 	height: 80vh;
			// }
			
		}
	}

	.section__about {
		padding: var(--section-padding) 0;
		background-color: var(--secondary);
		color: var(--primary);
		h2 {
			font-weight: 500;
			text-align: center;
			font-size: var(--header-clamp);
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 100px;
			margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);

			@media(max-width: 1167px) {
				gap: 50px;
			}


			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: clamp(3.125rem, -1.328rem + 14.84vw, 7.875rem);

				@media(max-width: 1167px) {
					flex-wrap: wrap;
					justify-content: center;
					text-align: center;
					gap: 20px;
				}

				&:nth-child(even) {
					flex-direction: row-reverse;

					img {
						mask-image: url(/public/mask-image.svg);
					}
					
				}
				
				&:nth-child(odd) {
					img {
						mask-image: url(/public/mask-image-alternative.svg);
					}
				}
				h3 {
					font-weight: 400;
					font-size: 22px;
				}
				p {
					margin-top: 25px;
					font-size: 18px;
					line-height: 1.6;
				}
				img {
					max-width: 550px;
					width: 100%;
					object-fit: cover;
					mask-repeat: no-repeat;
					mask-size: cover;
					max-height: 371px;
					height: 371px;
					@media(max-width: 650px) {
						height: auto;
					}
				}
			}
		}
	}

	.section__layouts {
		padding: var(--section-padding) 0;
		color: var(--headers-primary);
		h2 {
			font-weight: 500;
			text-align: center;
			font-size: var(--header-clamp)
		}
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);
			gap: 24px;

			@media(max-width: 992px) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media(max-width: 767px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media(max-width: 550px) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			img {
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				width: 100%;
				height: auto;
			}
			.layouts__texts {
				padding: 15px 10px;
				background-color: var(--primary);
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				box-shadow: 0px 9px 15px 1px rgba(34, 60, 80, 0.2);
			}
			p {
				font-size: 18px;
				font-weight: 500;
			}
			button {
				font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 20px;
                color: var(--primary);
                margin-top: 20px;
                line-height: 160%;
                @media(max-width: 600px) {
                    width: 100%;
                    text-align: center;
                }

				transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
			}
		}

	}

	.section__gallery {
		padding: var(--section-padding) 0;
		background-color: var(--secondary);
		color: var(--primary);

		h2 {
			font-weight: 500;
			text-align: center;
			font-size: var(--header-clamp);
		}
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);
			gap: 24px;

			@media(max-width: 992px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 18px;
			}
			
			@media(max-width: 550px) {
				grid-template-columns: repeat(1, 1fr);
				gap: 10px;
			}

			div {
				height: 100%;

			}
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				max-height: 223px;
				cursor: pointer;
			}
		}
	}

	.section__form {
		padding: clamp(6.25rem, 1.792rem + 14.86vw, 12.938rem) 0;
		background: url('/public/form__background.webp') no-repeat center;
		background-size: cover;
		.form__wrapper {
			background-color: var(--primary);
			padding: 33px;
			max-width: 590px;
			margin: 0 auto;

			@media(max-width: 767px) {
				padding: 20px;
			}
		}
		h2 {
			font-weight: 500;
			font-size: clamp(1.75rem, 1.583rem + 0.56vw, 2rem);
			text-align: center;
		}
		form {
			display: flex;
			flex-direction: column;
			max-width:450px;
			width: 100%;
			margin: 0 auto;
			gap: 13px;
			margin-top: 25px;

			input {
				padding: 16px 20px;
				border: 1px solid #d3dad7;
				font-weight: 400;
				font-size: 16px;
				text-transform: capitalize;

				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					text-transform: capitalize;
				}
			}

			button {
				padding: 19px;
				border-radius: 20px;
				max-width: 450px;
				width: 100%;
				background: var(--btn-primary);
				margin-top: 12px;
				font-weight: 700;
				font-size: 18px;
				color: var(--primary);

				transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
			}
		}

		p {
			font-weight: 600;
			font-size: 12px;
			line-height: 133%;
			letter-spacing: 0.02em;
			text-align: center;
			color: #303934;
			margin-top: 25px;
		}
	}

	.maps__wrapper {
		h2 {
			font-weight: 500;
			font-size: var(--header-clamp);
			text-align: center;
			margin-bottom: 60px;

			@media(max-width: 992px) {
				margin-bottom: 45px;
			}
		}
	}
</style>

<script>
	const apartmentBtn = document.querySelectorAll('.apartment__booking')	
	const apartmentBg = document.querySelector('.booking__bg') 
	const apartmentModal = document.querySelector('.booking__modal')
	const apartmentClose = document.querySelector('.booking-close-form')
	const body = document.querySelector('body')
	apartmentBtn.forEach((item) => {
		item.addEventListener('click', e => {
		apartmentBg?.classList.add('active')
		apartmentModal?.classList.add('active')
		body?.classList.add('locked')
		})
	})

	apartmentClose.addEventListener('click', e => {
			apartmentBg?.classList.remove('active')
			apartmentModal?.classList.remove('active')
			body?.classList.remove('locked')
	})
	apartmentBg.addEventListener('click', e => {
			apartmentBg?.classList.remove('active')
			apartmentModal?.classList.remove('active')
			body?.classList.remove('locked')
	})

	import { Fancybox } from "@fancyapps/ui";

	Fancybox.bind('[data-fancybox="gallery"]', {
		Carousel: {
			transition: "slide",
		},

		hideScrollbar: false,

		Thumbs: {
			type: "classic",
		},
	});



				
</script>