---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.scss';


import { urlForImage } from '../lib/urlForImage'

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image, websiteType = 'website', robots = 'index, follow', keywords } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="generator" content={Astro.generator} />
<meta name="yandex-verification" content="8f984d910ec5e410" />
<meta name="yandex-verification" content="c36214d2ab9fcd49" />
<!-- Font preloads -->
<link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />


<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="robots" content={robots}>
<meta name="description" content={description} />
<meta name="keywords" content={keywords ? keywords : 'Новостройки Челябинска, Новые новостройки, Новые новостройки Челябинска, Агенство недвижимости, Агенство недвижимости Челябинск, Челябинск недвижимость, Жилой комплекс, Жилой комплекс Челябинск, Жилые комплексы Челябинск, Академ риверсайд, Академ риверсайд новостройки'}>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		"name": "Агентство недвижимости Челябинск – Monolid",
		"alternateName": "Недвижиость Челябинск - Monolid",
		"url": "https://monolid74.com/"
	}
</script>


<!-- Open Graph / Facebook -->
<meta property="og:type" content={websiteType} />
<meta property="og:url" content={Astro.url} />
<meta property="og:locale" content="ru_RU">
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={new URL(urlForImage(image).url(), Astro.url)} /> }
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Новостройки" />
<meta property="og:site_name" content="Monolid">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={new URL(urlForImage(image).url(), Astro.url)} /> }
<meta name="twitter:image:alt" content="Новостройки">

<meta name="theme-color" content="#03283C" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Монолид - Агентство недвижимости Челябинск">
<meta name="apple-mobile-web-app-title" content="Mobile rules">
<meta name="apple-mobile-web-app-status-bar-style" content="#03283C">

<!-- Keywords -->
{keywords && <meta name="keywords" content={keywords} />}




<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	m[i].l=1*new Date();
	for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
	ym(97023741, "init", {
		 clickmap:true,
		 trackLinks:true,
		 accurateTrackBounce:true,
		 webvisor:true
	});
 </script>
 
 <noscript><div><img src="https://mc.yandex.ru/watch/97023741" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

 
<script >
	import IMask from 'imask';

	const elements = document.querySelectorAll('.phoneMask');
	const maskOptions = {
	mask: '+{7}(000)000-00-00'
	};

	elements.forEach((element: any) => {

		const mask = IMask(element, maskOptions);
	})
</script>

