---
const today = new Date();

import { getSanity } from '../lib/api';
import { urlForImage } from '../lib/urlForImage'
import PortableTextBody from './PortableTextBody.astro';
import { myPortableTextComponents } from './PortableTextComponents';

const footerlinks = await getSanity(`*[_type == 'footerlinks']{
	inn,
	orgnip,
	socials,
	copyrightPolicy,
	copyright
}`)
---

<footer itemtype="https://schema.org/WPFooter" itemscope>
	
	<address>
		<ul>
			{
				footerlinks[0].socials.map((social) => (
					<li>
						<a target="_blank" href={social.link}>
							<img class="social__img" src={urlForImage(social.icon).url()} alt={social.title} />
						</a>
					</li>
				))
			}
		</ul>
	</address>

	<p itemprop="copyrightYear">{footerlinks[0].copyright}</p>
	<a href="#" class="policy">Политика конфиденциальности</a>
	<!-- <p class="inn">© {today.getFullYear()} Реклама: Агентство недвижимости MonoliD</p> -->
	<p style="margin-top: 5px;">ИНН:<span style="color: white !important; margin-left: 5px;">{footerlinks[0].inn}</span></p>
	<p style="margin-top: 5px;">ОРГНИП:<span style="color: white !important; margin-left: 5px;">{footerlinks[0].orgnip}</span></p>
</footer>

<div class="policy__bg">
</div>
	<div class="policy__modal">
		<button aria-label="Закрыть форму" class="policy__modal-close">
			<svg aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 320.591 320.591" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" fill="#000000" opacity="1" data-original="#000000"></path><path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"></path></g></svg>
		</button>

		<PortableTextBody body={footerlinks[0].copyrightPolicy} components={myPortableTextComponents}/>
	</div>

<style lang="scss">
	footer {
		background-color: #03283C;
		padding: 70px 30px;
		ul {
			display: flex;
			gap: 28px;
			justify-content: center;
			margin-bottom: clamp(1.563rem, 0.521rem + 3.47vw, 3.125rem);
		}
		
		a {
			font-weight: 400;
			color: var(--primary);
			display: flex;
			width: fit-content;
			margin: 10px auto 0;
			text-align: center;
			text-decoration:underline;
			font-size: 16px;
		}

		p {
			font-size: 16px;
			color: var(--primary);
			text-align: center;
		}

		.social__img {
			width: 30px;
			height: 30px;
		}
	}

	.inn {
		margin-top: clamp(0.938rem, 0.521rem + 1.39vw, 1.563rem);
	}

	.policy__bg {
		display: none;
		&.active {
			position: fixed;
			width: 100%;
			height: 100dvh;
			background-color: #0b0b0bd0;
			
			inset: 0;
			z-index: 59;
			display: flex;
		}
	}


	.policy__modal-close {
            display: none;
    
            &.active {
                display: flex;
                position: absolute;
                right: 10px;
                top: 10px;
            }
    
            svg {
                width: 20px;
                height: 20px;
                fill: var(--primary);
    
                path {
                    fill: var(--headers-primary);
                }
            }
    
            
        }

		.policy__modal {
			position: fixed;
			max-width: 600px;
			width: 90%;
			display: none;
			inset: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			align-items: center;
			justify-content: center;
			padding: 0;
			z-index: 60;
			background-color: var(--primary);
			color: var(--headers-primary);
			padding: 40px 10px;
			height: 90%;
			overflow-y: auto;
            &.active {
                display: block;
            }


			p {
				line-height: 1.85;
			}
        }

		.policy {
			transition: .3s ease color;

                &:hover {
                    color: rgb(209, 192, 192);
                }
		}
</style>


<script>
	const policy = document.querySelectorAll('.policy')
	const policyBg = document.querySelector('.policy__bg')
	const modal = document.querySelector('.policy__modal')
	const close = document.querySelector('.policy__modal-close')
	const body = document.querySelector('body')
	policy.forEach((item) => {
		item.addEventListener('click', e => {
			e.preventDefault()
			policyBg?.classList.add('active')
			modal?.classList.add('active')
			close?.classList.add('active')
			body?.classList.add('locked')
		})
	})

	close?.addEventListener('click', e => {
			e.preventDefault()
			policyBg?.classList.remove('active')
			modal?.classList.remove('active')
			close?.classList.remove('active')
			body?.classList.remove('locked')
		})
	policyBg?.addEventListener('click', e => {
		e.preventDefault()
		policyBg?.classList.remove('active')
		modal?.classList.remove('active')
		close?.classList.remove('active')
		body?.classList.remove('locked')
	})
</script>
