---
import { getCollection } from "astro:content";
const posts = await getCollection('newBuildings');
import { Image } from "astro:assets";
---

<section aria-labelledby="newBuildings__title">
    <div class="container">
        <h2 id="newBuildings__title">Новые новостройки Челябинска</h2>

        <ul class="newBuildings__ul">
            
            {posts.map(post => (
                <div itemscope itemtype="https://schema.org/Accommodation">
                    <meta itemprop="yearBuilt" content={post.data.year}>
                    <li itemscope itemtype="https://schema.org/ApartmentComplex" aria-label={post.data.title} >
                        <article>
                            <Image itemprop="image" src={post.data.image} alt={post.data.title} />
                            <div class="text__box">
                                <h3 itemprop="name">{post.data.title}</h3>
                                <div class="newBuildings__wrapper">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.70538 0C4.67267 0 2.20538 2.59944 2.20538 5.79456C2.20538 9.75981 7.12734 15.581 7.3369 15.8269C7.53373 16.0579 7.87739 16.0575 8.07387 15.8269C8.28342 15.581 13.2054 9.75981 13.2054 5.79456C13.2053 2.59944 10.7381 0 7.70538 0ZM7.70538 8.70997C6.17955 8.70997 4.93822 7.40212 4.93822 5.79456C4.93822 4.187 6.17958 2.87919 7.70538 2.87919C9.23119 2.87919 10.4725 4.18703 10.4725 5.79459C10.4725 7.40216 9.23119 8.70997 7.70538 8.70997Z" fill="#1C244B" />
                                    </svg>
                                    <p>{post.data.location}</p>
                                    <div class="visually-hidden" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"> 
                                        <meta itemprop="addressLocality" content="Челябинск"/>
                                        <meta itemprop="addressRegion" content="Челябинская область"/>
                                        <meta itemprop="telephone" content="89642409046"/>
                                    </div>
                                </div>
                                <div class="newBuildings__wrapper">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 0C3.58888 0 0 3.58888 0 8C0 12.4111 3.58888 16 8 16C12.4111 16 16 12.4111 16 8C16 3.58888 12.4111 0 8 0ZM8 15C4.14013 15 1 11.8599 1 8C1 4.14013 4.14013 1 8 1C11.8599 1 15 4.14013 15 8C15 11.8599 11.8599 15 8 15Z" fill="#1C244B" />
                                        <path d="M8.5 3H7.5V8.20702L10.6465 11.3535L11.3535 10.6465L8.5 7.79295V3Z" fill="#1C244B" />
                                    </svg>
                                    <p>{post.data.year}</p>
                                </div>
                                <div class="newBuildings__wrapper">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.6 14.4V0H2.4V14.4H0.799988V16H15.2V14.4H13.6ZM7.2 1.60001H8.80001V3.20002H7.2V1.60001ZM7.2 4.8H8.80001V6.40001H7.2V4.8ZM7.2 7.99998H8.80001V9.59999H7.2V7.99998ZM5.59998 9.59999H3.99997V7.99998H5.59998V9.59999ZM5.59998 6.40001H3.99997V4.8H5.59998V6.40001ZM5.59998 3.19999H3.99997V1.60001H5.59998V3.19999ZM9.59999 14.4H6.40001V12.8C6.40001 11.92 7.12001 11.2 8.00002 11.2C8.88003 11.2 9.59999 11.92 9.59999 12.8V14.4ZM12 9.59999H10.4V7.99998H12V9.59999ZM12 6.40001H10.4V4.8H12V6.40001ZM12 3.19999H10.4V1.60001H12V3.19999Z" fill="#1C244B" />
                                    </svg>
                                    <p>{post.data.buildingType}</p>
                                </div>
                                <a itemprop="url" href={post.data.urlPath + '/'}>Подробнее</a>
                            </div>
                        </article>
                    </li>
                </div>
            ))}

        </ul>
    </div>
</section>

<style lang="scss">

    section {
        padding: var(--section-padding) 0;
        background-color: #03283C;

    }

    h2 {
        font-weight: 700;
        font-size: var(--header-clamp);
        color: var(--primary);
        text-align: center;
        margin-bottom: clamp(1.25rem, 0.664rem + 1.95vw, 1.875rem);
    }

    .newBuildings__wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 10px;
    }

    ul {
        display: grid;
        justify-content: center;
        gap: 24px;
        margin-top: 80px;
        grid-template-columns: repeat(3, minmax(150px, 307px));

        @media(max-width: 767px) {
            grid-template-columns: repeat(2, minmax(150px, 307px));
            margin-top: 60px;
        }

        @media(max-width: 600px) {
            grid-template-columns: repeat(1, minmax(150px, 1fr));
        }

        li {
            background-color: var(--primary);
            border-radius: 25px;
            transition: .3s ease box-shadow;
            &:hover {
                box-shadow: 0px 0px 11px 7px rgba(255, 255, 255, 0.2);
            }
            img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                margin-top: -1px;
                width: 100%;
                object-fit: cover;
                max-height: 250px;
                @media(max-width: 600px) {
                    object-fit: cover;
                }
            }

            p {
                
                font-weight: 500;
                font-size: 16px;
                color: var(--headers-primary);
            }

            a {
                font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 20px;
                color: var(--primary);
                margin-top: 20px;
                line-height: 160%;
                @media(max-width: 600px) {
                    width: 100%;
                    text-align: center;
                }

                transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
            }
        }
    }
    
    .text__box {
        
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
        h3 {
            font-size: 22px;
            font-weight: 500;
            text-wrap: balance;
            text-align: center;
            @media(max-width: 767px) {
                font-size: 20px;
            }
        }
    }

    
</style>