---
import { Image } from 'astro:assets'
import img1 from '../assets/ourservices-1.jpg'
import img2 from '../assets/ourservices-2.png'
import img3 from '../assets/ourservices-3.jpg'
import img4 from '../assets/ourservices-4.jpg'
import img5 from '../assets/ourservices-5.jpg'
import img6 from '../assets/ourservices-6.jpg'
import Header from '../components/Header.astro'
import BaseHead from '../components/BaseHead.astro'
import { Breadcrumbs } from "astro-breadcrumbs";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from '../components/Footer.astro'

const customCrumbs = [
 {
    text: "Главная",
    href: "/",
  },
  {
    text: "Наши услуги",
    href: "/nashi-uslugi",
  }
]
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="wrapper">
			<Header />
			<div class="container">
			    <div class="c-breadcrumbs"><Breadcrumbs crumbs={customCrumbs}>
                    <svg
                        slot="separator"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                            ><polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                            </Breadcrumbs>
                </div>
			</div>
				<main>
					<section id="ourServices" aria-labeledby="ourservices__title">
                        <div class="container">
                            <h2 id="ourservices__title">Наши услуги</h2>
                    
                            <ul class="ourservives__wrapper">
                                <li class="card">
                                    
                                        <h3>Новостройки</h3>
                                        <ul>
                                            <li>Более 30 новостроек</li>
                                            <li>Подробные видеообзоры</li>
                                            <li>Бесплатные экскурсии</li>
                                        </ul>
                                        <a class="card__btn" href="/catalog">Смотреть</a>
                                    
                                    <Image alt="Новостройки" src={img1}/>
                                </li>
                    
                                <li class="card">
                                    
                                        <h3>Оценка недвижимости</h3>
                                        <ul>
                                            <li>Рассчитаем рыночную стоимость недвижимости и сроки продажи</li>
                                        </ul>
                                        <a class="card__btn btn__action" href="#">Записаться</a>
                                    
                                    <Image alt="Оценка недвижимости" src={img2}/>
                                </li>
                    
                                
                                    <li class="card">
                                        <h3>Ипотека</h3>
                                        <ul>
                                            <li>Более 30 новостроек</li>
                                            <li>Подробные видеообзоры</li>
                                            <li>Бесплатные экскурсии</li>
                                            <li>Программы с гос. поддержкой</li>
                                        </ul>
                                        <a class="card__btn btn__action" href="#">Записаться</a>
                                        <Image alt="Ипотека" src={img3}/>
                                    </li>
                                
                    
                                <li class="card">
                                    
                                        <h3>Продажа квартиры</h3>
                                        <ul>
                                            <li>Поможем продать вашу недвижимость быстро и безопасно за 25 дней</li>
                                        </ul>
                                        <a class="card__btn btn__action" href="#">Записаться</a>
                                    
                                    <Image alt="Продажа квартиры" src={img4}/>
                                </li>
                    
                                <li class="card">
                                    
                                        <h3>Рефинансирование</h3>
                                        <ul>
                                            <li>Уменьшите ежемесячный платёж по ипотеке</li>
                                        </ul>
                                        <a class="card__btn btn__action" href="#">Записаться</a>
                                    
                                    <Image alt="Рефинансирование" src={img5}/>
                                </li>
                    
                                <li class="card">
                                    
                                        <h3>Аренда</h3>
                                        <ul>
                                            <li>Поможем быстро сдать квартиру проверенным жильцам</li>
                                        </ul>
                                        <a class="card__btn btn__action" href="#">Записаться</a>
                                    
                                    <Image alt="Аренда" src={img6}/>
                                </li>
                            </ul>
                        </div>
                    </section>
				</main>
			<Footer />
		</div>
	</body>
</html>



<style lang="scss">
    section {
        padding: var(--section-padding) 0;
        
    }


    h2 {
        font-weight: 700;
        font-size: clamp(1.5rem, 0.797rem + 2.34vw, 2.25rem);
        color: var(--headers-primary);
        text-align: center; 
    }

    .card__a {
        width: 100%;
        height: 100%;
    }

    .ourservives__wrapper {
        margin-top: 50px;
        flex-wrap: wrap;
        display: flex;
        gap: 24px;
        justify-content: center;
    }
    .card {
        position: relative;
        isolation: isolate;
        max-width: 286px;
        width: 100%;
        padding: 15px;
        align-self: baseline;
        border-radius: 20px;
        &:hover {
            &:after {
                opacity: .75;
            }
        }

        @media(max-width: 625px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        
        &::after {
            transition: .3s ease opacity;
            content: '';
            position: absolute;
            inset: 0;
            background-color: black;
            opacity: 0.55;
            z-index: -1;
            border-radius: 20px;
        }

        ul {
            flex-direction: column;
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            gap: 10px;
        }
    }

    ul {
        
        li {
            
            font-size: 18px;
            color: var(--primary);
            line-height: 160%;
            h3 {
                font-weight: 500;
                font-size: 22px;
                color: var(--primary);
            }

            img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
                border-radius: 20px;
            }

            

            
        }
    }

    .card__btn {
        color: var(--primary);
        padding: 7px 21px;
        background: var(--btn-primary);
        border-radius: 20px;
        display: flex;
        width: max-content;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: .3s ease background;
        &:hover {
            background: #0b1099;
        }
    }

</style>


