---
import Header from '../components/Header.astro'
import BaseHead from '../components/BaseHead.astro'
import { Breadcrumbs } from "astro-breadcrumbs";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from '../components/Footer.astro'
import "../../astro-breadcrumbs-config.scss";
import 'swiper/css/bundle';


const customCrumbs = [
 {
    text: "Главная",
    href: "/",
  },
  {
    text: "Вторичное жилье",
    href: "/vtorichka/",
  }
]

import { getSanity } from '../lib/api'
import { urlForImage } from '../lib/urlForImage'
import { Image } from 'astro:assets';
import PortableTextBody from '../components/PortableTextBody.astro';
import { myPortableTextComponents } from '../components/PortableTextComponents'
const sanityVtorichka = await getSanity([`*[_type == 'vtorichka'] | order(orderRank asc)`])
console.log(sanityVtorichka)
---

<!doctype html>
<html lang="ru">
    <head>
        <BaseHead title="Купить вторичное жилье – Monolid - Агентство недвижимости Челябинск" description="Купите Квартиру на Вторичном Рынке в Челябинске По Самым Выгодным Ценам" />
    </head>
    <body>
        <div class="wrapper">
            <Header />
            <div class="breadcrumbs__container">
                <div class="c-breadcrumbs"><Breadcrumbs crumbs={customCrumbs}>
                    <svg
                        slot="separator"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                            ><polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                            </Breadcrumbs>
                </div>
            </div>
                <main>
                    <section id="ourServices" aria-labelledby="ourservices__title">
                            <h1 id="ourservices__title">Вторичное жилье</h1>
                           
                            {sanityVtorichka?.length > 0 && (
                                <section aria-labelledby="layouts__title" class="section__layouts">
                                <div class="container">
                                    <ul class="masonry__grid">
                                        {sanityVtorichka?.map((item: any) => (


                                            <div class="grid__item">
                                                <div class="swiper">
                                                    <div class="swiper-wrapper">
                                                        
                                                        {item.photo?.map((image: any) => (
                                                            <div class="swiper-slide">
                                                                <img width="300" height="300" loading="lazy" class="slide__img" src={urlForImage(image).format("webp").width(300).height(300).url()} alt="квартира"/>
                                                                <div class="swiper-lazy-preloader"></div>
                                                            </div>
                                                        ))}
                                                    </div>  
                                                    <button class="swiper-prev" data-astro-cid-bbe6dxrz="" tabindex="0" aria-label="Previous slide" aria-controls="swiper-wrapper-101036693d872da023"><svg width="20" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-astro-cid-bbe6dxrz=""><path d="M3.36609 9.11615L7.79492 4.68732C8.03902 4.44322 8.35891 4.32119 8.67883 4.32119C8.99875 4.32119 9.31863 4.44322 9.56273 4.68732C10.0509 5.17548 10.0509 5.96693 9.56273 6.45509L7.26777 8.75001L21.75 8.75001C22.4404 8.75001 23 9.30966 23 10C23 10.6904 22.4404 11.25 21.75 11.25L7.26777 11.25L9.56273 13.5449C10.0509 14.0331 10.0509 14.8245 9.56273 15.3127C9.07453 15.8009 8.28312 15.8009 7.79492 15.3127L3.36609 10.8839C2.87797 10.3958 2.87797 9.60427 3.36609 9.11615Z" fill="white" data-astro-cid-bbe6dxrz=""></path></svg></button>
                                                    <button class="swiper-next" data-astro-cid-bbe6dxrz="" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-8fe5a295cce209f6"><svg width="20" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-astro-cid-bbe6dxrz=""><path d="M20.6339 10.8839L16.2051 15.3127C15.961 15.5568 15.6411 15.6788 15.3212 15.6788C15.0013 15.6788 14.6814 15.5568 14.4373 15.3127C13.9491 14.8245 13.9491 14.0331 14.4373 13.5449L16.7322 11.25H2.25C1.55965 11.25 1 10.6903 1 9.99999C1 9.30963 1.55965 8.74999 2.25 8.74999H16.7322L14.4373 6.45506C13.9491 5.9669 13.9491 5.17545 14.4373 4.68729C14.9255 4.19913 15.7169 4.19913 16.2051 4.68729L20.6339 9.11612C21.122 9.60424 21.122 10.3957 20.6339 10.8839Z" fill="white" data-astro-cid-bbe6dxrz=""></path></svg></button>
                                                <div class="swiper-pagination"></div>
                                               
                                                </div>

                                                <div class="swiper2-container">
                                                    <div class="swiper2">
                                                        <div class="swiper-wrapper">
                                                            {item.photo?.map((image: any) => (
                                                                <div class="swiper-slide">
                                                                    <img loading="lazy" class="slide__img" src={urlForImage(image).format("webp").width(100).height(100).url()} alt="квартира"/>
                                                                    <div class="swiper-lazy-preloader"></div>
                                                                </div>
                                                            ))}
                                                        </div>  
                                                    </div>
                                                </div>

                                                <div class="layouts__texts">
                                                    {item.isAvailable == false && (
                                                            <img class="soldout" src="/9OAAAgOqL-A-1920.webp" alt="Продана квартира"/>
                                                        )}
                                                    <p class="rooms">{item.rooms} {item.rooms ? 'квартира' : 'Земля'}</p>
                                                    <div class="description__wrapper"> 
                                                        <div class="description">
                                                            <PortableTextBody body={item.description} components={myPortableTextComponents}/>
                                                        </div>
                                                    </div>
                                                    <p class="price">{item.price} руб.</p>

                                                    <button disabled={item.isAvailable == false ? true : false} data-objectName={item.rooms} data-objectPrice={item.price + ' руб.'} class="apartment__booking">Подробнее</button>
                                                </div>
                                               
                                               
                                       
                                            </div>
                                            <div class="vtorichka-modal"></div>    
                                        ))}
                                    </ul>
                                    <button id="show-more-btn">Показать больше</button>
                                </div>
                            </section>
                            )}
                           
                    </section>
                </main>
            <Footer />
        </div>
       
        <div class="booking__bg"></div>
        <div class="booking__modal">
            <button aria-label="Закрыть форму" class="booking-close-form"> <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 320.591 320.591" style="enable-background:new 0 0 512 512" xml:space="preserve" data-astro-cid-3ef6ksr2=""><g data-astro-cid-3ef6ksr2=""><path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" fill="#000000" opacity="1" data-original="#000000" data-astro-cid-3ef6ksr2=""></path><path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" data-astro-cid-3ef6ksr2=""></path></g></svg> </button>
            <p class="booking__title">Получите информацию о данной квартире</p>
            <p class="booking__text">Расскажем о способах приобретения, площади и цене</p>

            <form id="apartmentInfo">
                <div class="input__wrapper">
                    <label for="">
                       
                        <input type="text" required  placeholder="Ваше имя" name="name" id="apartmentName">
                    </label>
                    <label for="">
                       
                        <input type="tel" required  class="phoneMask" placeholder="Ваш телефон" name="phone" id="apartmentPhone"/>
                    </label>
                </div>
                <button type="submit" class="consultancyGetting">Получить консультацию</button>
                <p class="agreement">«Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности»</p>
                <div class="form-sent-message consultancy-message">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><switch><g><g fill="#02bc7d"><path d="M9.7 11.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l3 3c.2.2.4.3.7.3s.5-.1.7-.3l7-8c.3-.5.3-1.1-.2-1.4-.4-.3-1-.3-1.3.1L12 13.5z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path><path d="M21 11c-.6 0-1 .4-1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8c0-2.1.8-4.1 2.3-5.6C7.8 4.8 9.8 4 12 4c.6 0 1.3.1 1.9.2.5.2 1.1-.1 1.3-.7s-.2-1-.7-1.2h-.1c-.8-.2-1.6-.3-2.4-.3C6.5 2 2 6.5 2 12.1c0 2.6 1.1 5.2 2.9 7 1.9 1.9 4.4 2.9 7 2.9 5.5 0 10-4.5 10-10 .1-.6-.4-1-.9-1z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path></g></g></switch></g></svg>                                      
                    <p>Форма успешно отправлена</p>
                </div>
            </form>
        </div>
    </body>
</html>



<style lang="scss">

        main {
            padding-bottom: 50px;
        }
        .breadcrumbs__container {
            max-width: 1330px;
            margin: 30px auto 0;
            padding: 0 15px;
           
        }

    section {
       
       
    }


    h1 {
        font-weight: 700;
        font-size: var(--header-clamp);
        color: var(--headers-primary);
        text-align: center;
        margin-bottom: 4rem;
        margin-top: 80px;
        @media(max-width: 767px) {
            margin-bottom: 2rem;
            margin-top: 60px;
        }
    }

   
.section__layouts {
        padding: 0 0 var(--section-padding);
        color: var(--headers-primary);

        ul {
            display: flex;
            gap: 24px;
           
           
           
           
        }
        .masonry__grid {
            margin: 0 auto;
            margin-top: clamp(2.5rem, 1.328rem + 3.91vw, 3.75rem);
            display: flex;
            flex-direction: column;
        }
       

        .grid__item {
            display: flex;
            transition: .3s ease transform;
            align-self: stretch;

            @media(max-width: 767px) {
                flex-direction: column;
                max-width: 500px;
                margin: 0 auto;
            }

            &:hover {
                transform: translateY(-5px);
            }


            // align-self:self-start;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // @media(max-width: 767px) {
                //  width: 85%;
                // }
                // @media(max-width: 550px) {
                //  width: 75%;
                // }
                // @media(max-width: 430px) {
                //  width: 60%;
                // }

               

            }
            .layouts__texts {
                padding: 15px 10px;
                background-color: var(--primary);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 8px 8px 0px rgba(34,60,80,0.2);
                height: auto;
                margin-left: 10px;


                position: relative;
                .soldout {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    
                    width: 170px;
                    height: 63px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #000000b7;
                    color: white;
                    font-weight: 700;
                    
                    @media(max-width: 1167px) {
                        position: static;
                        transform: none;
                        margin-bottom: 15px;
                    }
                }

                @media(max-width: 767px) {
                    margin-left: 0;
                }

                .rooms {
                    font-size: 20px;
                    font-weight: 700;
                }

                .price {
                    margin-top: auto;
                    font-size: clamp(1.125rem, 0.875rem + 0.83vw, 1.5rem);
                    color: #011032;
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                .description__wrapper {
                    height: 225px;
                    overflow: auto;
                    margin-bottom: 25px;
                    margin-top: 25px;
                    padding: 0 10px;
                    width: 100%;
                    overscroll-behavior: contain;
                }

                .description {
                    font-size: 18px;
                    line-height: 1.8;
                    @media(max-width: 992px) {
                        font-size: 16px;
                    }
                }
            }
            p {
                font-size: 18px;
                font-weight: 500;
            }
            .apartment__booking {
                font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 20px;
                color: var(--primary);
                line-height: 160%;
                @media(max-width: 600px) {
                    width: 100%;
                    text-align: center;
                }

                transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
                &:disabled {
                    background-color: #d3dad7;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }

    }

   
    #show-more-btn {
        display: flex;
        margin: 75px auto 0;
        font-weight: 500;
        font-size: 18px;
        padding: 7px 23px;
        background-color: var(--btn-primary);
        border-radius: 4px;
        color: var(--primary);
        line-height: 160%;
        transition: 0.3s ease background;
       
        &:hover {
            background: #0b1099;
        }
    }
    .no-match {
        margin-top: 45px;
        font-weight: 700;
        text-align: center;
        font-size: var(--header-clamp);
        display: none;
    }

    .filter__wrapper select {
        padding: clamp(0.813rem, 0.637rem + 0.59vw, 1rem);
        border: 1px solid #d3dad7;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        min-height: 52px;
        color: var(--headers-primary);
        border-radius: 5px;
        background-color: var(--primary);
        color: var(--headers-primary);
        height: 52px;
        margin-top: 30px;
    }


   

    .swiper {
        max-height: 420px;
        height: auto;
        max-width: 400px;
        width: 100%;
        margin-right: 10px;
        position: relative;

        

        .swiper-prev, .swiper-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: #353ad7de;
            padding: 10px;
            border-radius: 100%;
            transition: 0.3s ease all;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-prev {
            left: 10px;
        }
        .swiper-next {
            right: 10px;
        }

        @media(max-width: 767px) {
            max-width: unset;
            margin-right: 0;
        }

        .swiper-slide {
            width: 100% !important;
            height: 100%;
            
            @media(max-width: 767px) {
                height: auto;
            }

            
        }

    .swiper-wrapper {
        display: flex;
        height: 100%;
        height: 100%;
    }
    }

    .swiper-pagination {
        background-color: #383c3eb7;
        padding: 5px;
        backdrop-filter: blur(4px);
    }

    .vtorichka-modal {
       
        position: fixed;
        width: 100%;
        height: 100dvh;
        background-color: #0b0b0b;
        inset: 0;
        z-index: 14;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 0.8;
            pointer-events: all;
            transition: opacity 1s ease-in-out;
        }

    }

    .swiper2-container {
        overflow: hidden;
        background-color: white;
        max-width: 100px;
        width: 100%;

        @media(max-width: 767px) {
            max-width: unset;
        }
    }

    .swiper2 {
        width: 100%;
        max-width: 200px;
        height: 100px;

        @media(max-width: 767px) {
            height: 75px;
            max-width: 150px;
            margin-top: 5px;
        }

        .swiper-wrapper {
            height: 100%;
            display: grid;
            grid-auto-flow: row;
            grid-auto-rows: minmax(auto, 1fr);
            flex-direction: column;
           
            @media(max-width: 767px) {
                flex-direction: row;
                display: flex;
                height: 100%;
            }

            .swiper-slide {
                cursor: pointer;
                width: 100%;
                height: auto;

                @media(max-width: 767px) {
                    height: 100%;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }


    .booking__bg {
        position: fixed;
        width: 100%;
        height: 100dvh;
        background-color: #0b0b0b;
        inset: 0;
        z-index: 14;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 0.8;
            pointer-events: all;
            transition: opacity 1s ease-in-out;
        }
    }
    .booking__modal {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        max-width: 600px;
        width: 90%;
        inset: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        z-index: 60;
        background-color: var(--primary);
        color: var(--headers-primary);
        padding: 30px;
        height: max-content;
        flex-direction: column;
        overflow-y: auto;

   

        @media(max-width: 330px) {
            height: 90%;
            padding: 40px 10px;

           
        }

        &.active {
            opacity: 1;
            pointer-events: all;
            transition: opacity 1s ease-in-out;
        }

        .booking-close-form {
            display: none;
            display: flex;
            position: absolute;
            right: 10px;
            top: 10px;

            svg {
                width: 20px;
                height: 20px;
                fill: var(--headers-primary);
            }
        }

        .booking__title {
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
            text-wrap: balance;
            @media(max-width: 992px) {
                font-size: 22px;
            }
        }

        .booking__text {
            margin: 20px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #0d0d0d;
            text-align: center;
        }

        .input__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;

            label {
                display: flex;
                flex-direction: column;
                gap: 5px;
                input {
                    padding: 13px;
                    border-radius: 5px;
                    border: 0;
                    font-weight: 400;
                    color: var(--headers-primary);
                    font-size: 18px;
                    border: 1px solid #d3dad7;
                    width: 100%;
                }
            }
        }

        .consultancyGetting {
            color: var(--primary);
            padding: 7px 21px;
            background: var(--btn-primary);
            border-radius: 20px;
            display: flex;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 160%;
            transition: 0.3s ease background;
            width: 100%;
            font-weight: 400;
            &:hover {
                background: #0b1099;
            }
        }

        .agreement {
            font-size: 12px;
            margin-top: 10px;
            text-align: center;
        }
    }

</style>

<script>

var items = document.querySelectorAll(".grid__item");
  var numItemsToShow = 8;

  // Show the first 8 items and hide the rest
    for (var i = 0; i < items.length; i++) {
    if (i < numItemsToShow) {
      items[i].style.display = "flex";
    } else {
      items[i].style.display = "none";
    }
  }

    // Check if there is more than 8 items and if there is show "Show More" button
  if (items.length > numItemsToShow) {
    document.getElementById("show-more-btn").style.display = "flex";
  } else {
    document.getElementById("show-more-btn").style.display = "none";
  }

  // Handle the "Show More" button click
  document.getElementById("show-more-btn").addEventListener("click", function() {

    var remainingItems = items.length - numItemsToShow;
    var itemsToShow = Math.min(remainingItems, numItemsToShow);
   
    // Show the next batch of items
    for (var i = 0; i < itemsToShow; i++) {
      items[numItemsToShow + i].style.display = "flex";
    }
   
    // Update the number of items shown
    numItemsToShow += itemsToShow;
   
    // Hide the "Show More" button if all items are shown
    if (numItemsToShow >= items.length) {
      document.getElementById("show-more-btn").style.display = "none";
    }
  });


  const apartmentBtn = document.querySelectorAll('.apartment__booking')
    const apartmentBg = document.querySelector('.booking__bg')
    const apartmentModal = document.querySelector('.booking__modal')
    const apartmentClose = document.querySelector('.booking-close-form')
    const body = document.querySelector('body')
    apartmentBtn.forEach((item) => {
        item.addEventListener('click', e => {
        apartmentBg?.classList.add('active')
        apartmentModal?.classList.add('active')
        body?.classList.add('locked')
        })
    })

    apartmentClose?.addEventListener('click', e => {
            apartmentBg?.classList.remove('active')
            apartmentModal?.classList.remove('active')
            body?.classList.remove('locked')
    })
    apartmentBg?.addEventListener('click', e => {
            apartmentBg?.classList.remove('active')
            apartmentModal?.classList.remove('active')
            body?.classList.remove('locked')
    })


    window.addEventListener('click', e => {
        //@ts-ignore
        if (e.target.classList.contains('apartment__booking')) {
            //@ts-ignore
            const apartmentObjectName = e.target.dataset.objectname
            //@ts-ignore
            const apartmentPrice = e.target.dataset.objectprice

            console.log(apartmentObjectName, apartmentPrice);
           
           
           
           
            const apartmentForm = document.querySelector("#apartmentInfo");
            let apartmentFormPhone = document.querySelector('#apartmentPhone')
            let apartmentFormName = document.querySelector('#apartmentName')
           
           
            // console.log(apartmentType);
           
           
            async function sendData() {
            // Associate the FormData object with the form element
            const formData = new FormData(apartmentForm);
            try {
                const response = await fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=${apartmentFormPhone.value}&name=${apartmentFormName.value}&object_name=${apartmentObjectName + ' ' + apartmentPrice}&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
                method: "POST",
                // Set the FormData instance as the request body
                body: formData,
                mode: 'no-cors',
                });
                console.log(await response.json());
            } catch (e) {
                console.error('2024');
            }
            }
            const consultancyMessage = document.querySelector('.consultancy-message')
            // Take over form submission
            apartmentForm.addEventListener("submit", (event) => {
            event.preventDefault();
            sendData();
            consultancyMessage.classList.add('active')
            setTimeout(() => {
                consultancyMessage.classList.remove('active')
            }, 5000);
            apartmentFormName.value = ''
            apartmentFormPhone.value = ''
    });
        }
    })

</script>

<script type="module">
import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

const swiperElements = document.querySelectorAll('.swiper');
const swiperElements2 = document.querySelectorAll('.swiper2');

swiperElements.forEach((swiperElement, index) => {
   
    const swiper2 = new Swiper(swiperElements2[index], {
        // Optional parameters for the thumbs swiper
        // ...
        loop: true,
       
       
        watchSlidesProgress: true,
        allowTouchMove: false,
        spaceBetween: 5,
        autoHeight: true,
        direction: 'horizontal',

        breakpoints: {
           

            767: {
                direction: 'vertical',
            }
        }
    });
   
   
    const swiper = new Swiper(swiperElement, {
      // Optional parameters for the main swiper
      // ...
      loop: true,
      pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true,
      dynamicBullets: true,
    },

    navigation: {
      nextEl:  swiperElement.querySelector('.swiper-next'),
      prevEl:  swiperElement.querySelector('.swiper-prev'),
    },

    watchSlidesProgress: true,
    thumbs: {
        swiper: swiper2,
      },
    });
});





</script>